 <table class="blogs" summary="info"> 
       <tr>
         <th class="blogs round">
            <h1 class="blogs">All Blogs</h1>
         </th>
         <th class="blogs round">
            <%= link_to "create new blog", new_blog_path %>
         </th>
       </tr>
   <% @blogs.each do |blog| %>
       <tr class="<%= cycle('even','odd') %>">
         <td class="blogs ">
           <b><%= link_to blog.title, blog %></b><br> 
           <%= blog.description %><br> 
           <span class="timestamp">
              Created <%= time_ago_in_words(blog.created_at) %> ago by 
              <%= link_to gravatar_for(blog.user, :size => 14), blog.user %>
              <%= link_to blog.user.name, blog.user %>
           </span>
         </td>
          <td class="blogs">
           <% if current_user?(blog.user) %>
            <%= link_to "delete", blog, :method => :delete,
                                        :confirm => "You sure?",
                                        :title => blog.title %><br>
            <%= link_to "edit", edit_blog_path(blog.id) %>        
          <% end %>
         </td>
       </tr> 
    <% end %>
</table>
