<table class="blog">
  <tr>
    <td class="main"> 
        <%= will_paginate %>
        <%= render 'blogliste' %>
      <%= will_paginate %>
     </td>
     
     <td class="sidebar round" >
           <%= render 'shared/user_info' %>
           <%= render 'shared/stats' %>
     </td>
   </tr>
</table>
