<table class="blog">
     <tr>
       <td class="blog">       
         <h1 class="blog"><%= @blog.title %></h1>
         <p><%= @blog.description %></p>
         <span class="timestamp">
            Created <%= time_ago_in_words(@blog.created_at) %> ago
            by 
            <%= link_to gravatar_for(@blog.user, :size => 20), @blog.user %>
            <%= link_to @blog.user.name, @blog.user %>
         </span>
      </td>
      <% if signed_in? %>
        <td class="sidebar round">
           <%= render 'shared/user_info' %>
           <%= render 'shared/stats' %>
        </td>
      <% end %>
    </tr>
</table>
