 <div class="row">
      <aside class="span3">

       <% if signed_in? %>
        <section>
           <%= render 'shared/user_info' %>
        </section>
        <section>
           <%= render 'shared/stats' %>
        </section>
      <% else %>
         <section>
          <h2>create your own blogs and connect with friends!</h2> 
          <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
         </section>
        <% end %>
      </aside>
      <div class="span9 blog round"> 
        <div class="bloghead round">  
         <h1><%= @blog.title %></h1>
         <p><%= @blog.description.html_safe %></p>
        
         <span class="timestamp">
            Created <%= time_ago_in_words(@blog.created_at) %> ago
            by 
            <%= link_to gravatar_for(@blog.user, :size => 20), @blog.user %>
            <%= link_to @blog.user.name, @blog.user %> 
            <% if signed_in? %>
              <% if current_user?(@blog.user) %>
               <%= link_to "new blogpost", new_blogpost_path(:blog_id => @blog.id) %>
              <% end %>
            <% end %>
         </span>
        </div>
        <div class="blogliste">
          <% unless @blog.blogposts.empty? %>
                  <table class="blogposts" summary="Blog blogposts">
                         <%= render @blogposts %>
                  </table>
                  <%= will_paginate @blogposts %>
          <% end %>
        </div>
      </div>
 </div>
