<div class="row">
  <aside class="span4">
   <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
       <strong>URL</strong> <%= link_to user_path(@user), @user %>
       <strong>Microposts</strong> <%= @user.microposts.count %>
       <%= render 'shared/stats' %>
   </section>
  </aside>
   <div class="span8">  
     <%= render 'follow_form' if signed_in? %>
      <% unless @user.microposts.empty? %>
         <h3>Microposts (<%= @user.microposts.count %>)</h3>
         <ol class="microposts">
             <%= render @microposts %>
         </ol>
         <%= will_paginate @microposts %>
      <% end %>
  </div>
   

</div>


