
<%= form_for(@blogpost) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
     <%= f.hidden_field :blog_id, :value => @blog.id %>
     <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
      <%= javascript_include_tag "tinymce_init" %>
    </div>
    
    <div class="actions">
       <%= f.submit "Create Blogpost"  %>
    </div>
<% end %>
